:host {
    text-align: center;
    font-family: 'open-sans';
    .line {
        border-bottom: 4px solid;
        color: #cccccc;
        margin-top: 40%;
    }
  
    ion-avatar {
        border: 0;
        width: 200px;
        height: 200px;
        margin-left: 100px;
        margin-top: 20px;
        border: solid 5px #eb445a;
     }
    .biography {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    ion-list {
        margin-top:10px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}