:host {
    font-family: 'open-sans';
    .line {
        border-bottom: 4px solid;
        color: #cccccc;
        margin-top: 70%;
    }
    ion-icon {
        margin-top: -20px;
        font-size: 1.5rem;
        
        
    }
}