:host {
    font-family: 'open-sans';
    .line {
        border-bottom: 4px solid;
        color: #cccccc;
        margin-top: 40%;
    }
    ion-icon {
        margin-top: -20px;
        font-size: 1.5rem;
        
        
    }
    ion-avatar {
       border: 0;
       width: 200px;
       height: 200px;
       margin-left: 100px;
       margin-top: 20px;
    }
    
}