<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{user?.name +" "+user?.surname}} </ion-title>
    <ion-icon slot="start" name="cog-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
 
 <div class="line">
 </div>
 <ion-list>
  <ion-item detail="true" [routerLink]="['/trainings/'+user?._id]">
    Trainings
  </ion-item>
  <ion-item detail="true"
  [routerLink]="['/watched-videos-page/'+user?._id]"
  >
    Watch Videos
  </ion-item>
  <ion-item detail="true">
    Food Program
  </ion-item>
</ion-list>
</ion-content>
