:host { 
    ion-card {
        margin:unset;
        font-family: cursive;
        align-items: center;
    video {
        overflow: hidden;
        width: 100%;
        height: 233px;
    }
   ion-card-content {
       margin-top: -10px;
   }
}}