<ion-header>
  <ion-toolbar color="danger">
    <ion-title>watched video</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of watchedVideos" class="card-item"
  [routerLink]="['/video-details/'+item.video._id]"
  
  >
    <ion-icon name="play-circle-outline"></ion-icon>
    <img [src]="item.video.image" alt="">
  </ion-card>
  <span>{{text}}</span>


</ion-content>
