<ion-header>
  <ion-toolbar>
    <ion-title>food-program</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid" *ngFor="let item of foodProgram">
    <div class="container">
      <div class="title">{{item.name}}</div>
      <ion-slides pager>
        <ion-slide *ngFor="let item2 of item.days">
          <div class="content">
            <ion-card-subtitle>{{item2.day_of_week+". day"}}</ion-card-subtitle>
            <span> {{item2.description}} </span>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
