:host {
    ion-title {
        font-size: 20px;
        font-family: cursive;
        text-transform: capitalize;
    }
    span {
        position: absolute;
        top: 50%;
        left: 40%;
        text-transform: capitalize;
        color: gray;
}
}